.animated-text {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  height: fit-content;
  gap: 6px;
  color: #372b22;
}

.animated-text .first-word {
  font-size: 42px;
  letter-spacing: 8px;
  font-weight: bold;
  margin-bottom: -3px;
  margin-right: 6px;
}

.animated-text .word {
  font-size: 24px;
}

@media screen and (max-width: 991px) {
  .animated-text .first-word {
    font-size: 36px;
    letter-spacing: 4px;
    margin-right: 4px;
  }
}
