.header {
    width: 100%;
    height: 70vh;
    color: aliceblue;
    display: flex;
    background-image: url('/src/assets/img/batikbg.jpg');
    width: 100%;
    -moz-background-inline-policy: 10%;
    filter: brightness(130%);
    background-size: cover;
    background-attachment: fixed;
}
.cta{
    position: absolute;
    left:34%; 
    transform: translate(-50%, -50%);
    position: fixed;
    width: 50%;
    padding: 13% 0;
    
}
.cta.hide {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.5s;
    z-index: -1;
  }

  @media only screen and (max-width: 575px) {
    .header{
        height: 55vh;
    }
    .cta{
        width: 80%;
        left: 50%;
        margin: auto;
        padding: 0 5%;
    }
  }