.container-detail{
    width: 100%;
    padding: 5% 8% 0 8%;
    display: block;
}
.container-detail .title{
    text-align: center;
    padding-bottom: 5%;
}
.container-detail .cover{
    background-color: black;
    width: 100%;
    height: 70vh;
    border-radius: 10px;
    margin-bottom: 5%;
}

.container-detail .content{
    text-align: justify;
}