.hero-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20vh;
}

.hero-section .img-content {
  /* aspect-ratio: 1/1; */
  /* max-height: 540px; */
  height: 80vh;
  min-width: 50%;
  background-color: #f0e0b0;
}

.hero-section .img-content img {
  /* aspect-ratio: 1/1; */
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.hero-section .content {
  margin: 12%;
}

.middle-section {
  margin-top: -32px;
  margin-bottom: 128px;
}

.middle-section .content {
  display: flex;
  padding: 32px 12%;
  min-height: 280px;
  height: 40vh;
  max-height: 540px;
  background-color: #372b22;
  gap: 64px;
}

.middle-section .content .content-title {
  padding-top: 32px;
  flex-basis: 55%;
  text-align: center;
  margin: auto 0;
}

.middle-section .content .content-images {
  margin-top: -154px;
  overflow: hidden;
  flex-basis: 45%;
  height: 160%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  z-index: 1;
  mask-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  -webkit-mask-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}

.middle-section .content .content-images img {
  aspect-ratio: 1/1.5;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
}

.middle-section .content .content-images img:nth-child(2n) {
  margin-top: -128px;
}

.most-liked-section {
  padding: 32px 12%;
}

.end-section {
  padding: 32px 12%,;
}

@media screen and (max-width: 1366px) {
  .hero-section .content,
  .title-section {
    margin: 8%;
  }

  .middle-section .content,
  .most-liked-section,
  .end-section {
    padding: 24px 8%;
  }
}
