.imageContainer {
    width: 100%;
    margin-bottom: 10px;
}

.imageContainer .image {
    max-width: 100%;
    border-radius: 15px;
    break-inside: avoid;
}

.gridWrapper {
    padding: 10px 200px;
    background-color: aliceblue;
    max-width: 100%;
    margin: 10px;
    columns: 4;
    column-gap: 20px;
};