* {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}

.imageHeader {
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5vh;
}

.imageContainer {
    width: 100%;
    margin-bottom: 20px;
}

.imageContainer .image {
    max-width: 100%;
    border-radius: 25px;
    break-inside: avoid;
}

.gridWrapper {
    padding: 10px 5vh;
    max-width: 100%;
    columns: 2;
    column-gap: 2vh;
}

@media only screen and (min-width: 992px) {
    .imagerHeader {
        margin-bottom: 5vh;
    }

    .gridWrapper {
        padding: 10px 15vh !important;
        columns: 4 !important;
        column-gap: 10vh !important;
    }

    .imageContainer {
        margin-bottom: 30px !important;
    }
}