* {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}

.imageHeader {
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5vh;
}

.imageContainer {
    width: 100%;
    margin-bottom: 20px;
}

.imageContainer .image {
    width: 100%;
    border-radius: 25px;
    break-inside: avoid;
}

.gridWrapperMasonry {
    padding: 10px 3vh;
    display: flex;
    width: auto;
}

.gridWrapperMasonryColumn {
    padding: 10px 3vh;
    background-clip: padding-box;
}

@media only screen and (min-width: 992px) {
    .imagerHeader {
        margin-bottom: 5vh;
    }


    .imageContainer {
        margin-bottom: 30px !important;
    }
}