nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 999;
}

.nav-flex .logo {
  font-size: 32px;
  cursor: pointer;
}

.nav-container {
  padding: 0 12%;
  background-color: #f0eee6;
  box-shadow: 0 4px 12px rgba(27, 26, 23, 0.08);
}

.nav-flex {
  display: flex;
  padding: 12px 0;
  justify-content: space-between;
  gap: 42px;
  align-items: center;
}

.nav-flex ul, .nav-flex section {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
}

.nav-flex ul .nav-link {
  font-weight: 500;
  position: relative;
  text-decoration: none;
  color: rgba(55, 43, 34, 0.7);
  padding: 12px 0;
  transition: all 0.15s ease-in-out;
}

.nav-flex ul .nav-link::before {
  transition: all 0.25s ease-in-out;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: transparent;
}

.nav-flex ul .nav-link:hover {
  color: #372b22;
}

@media (hover: hover) and (pointer: fine) {
  .nav-flex ul .nav-link:hover:before {
    background-color: #372b22;
    width: 60%;
  }
}

.nav-flex ul .active {
  color: #372b22;
}

.nav-flex ul .active::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 2px;
  background-color: #372b22;
}

.nav-icon {
  padding: 4px;
  box-shadow: 0 0 0 1px #372b22;
  border-radius: 8px;
  pointer-events: all;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

@media screen and (max-width: 1366px) {
  .nav-container {
    padding: 0 8%;
  }
}
@media only screen and (max-width: 575px){
  nav{
    overflow-x: hidden;
  }
}
