@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Ysabeau+Infant:wght@400&display=swap');
.header-tentang, .boundary{
    background-image: url('/src/assets/img/batikilus.jpg');
    height: 40vh;
    background-size: cover;
    background-attachment: fixed;
    -moz-background-inline-policy: 10%;
    background-position: right ;
    /* background-color: #f0e0b0; */
}

/* .header-text {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: auto;
    padding-top: 7%;
    background-color: #fff;
    text-align: center;
  } */

.content-tentang{
    width: 60%;
    text-align: justify;
    justify-content: center; 
    align-items: center; 
    margin: auto;
    height: auto;
    padding: 3% 0;
}

.our-team{
    height: 100vh;
    padding: 5% 20%;

}
.team-head{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background: #000; */
}

.team-mem{
    width: 100%;
    height: auto;
    margin: 17% auto;
    display: flex;
    justify-content: space-evenly;
    gap: 20%;
    
}
.mem-pic{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    object-fit: cover;
    margin-bottom: 10%;
}

.team-mem span {
    display: block; 
    text-align: center; 
    margin: auto; 
    font-size: larger;
    font-weight: bold;
    font-family: 'Ysabeau Infant', 'sans-serif';
}
@media only screen and (max-width: 575px) {
    .header-tentang, .boundary{
        background-position: center;
    }
    .content-tentang{
        
        padding-bottom: 10%;
        width: 80%;

    }
    .our-team{
        height: auto;
    }
    .team-mem{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin: 20% auto 5% auto;
        justify-content: center;
    }
    .member{
        padding-bottom: 30%;
    }
}
@media only screen and (max-width: 991px) {
    .team-mem{
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
    }
}